# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# config files
launch.json
cSpell.json

# output files
**/data/
**/html/
**/gdrive/*.bak
**/gdrive/*.dat
**/gdrive/*.dat
*.dir

#secrets
**/gdrive/client_secrets.json