# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# config files
launch.json
cSpell.json

# output files
**/data/
**/html/
**/shelve/*.bak
**/shelve/*.dat
**/shelve/*.dat
*.cache
*.dir
*.cache
*.out
pynetwork.cache

#secrets
pynetwork/secrets/client.secret.json
pynetwork/secrets/mail.secret.json
