# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# config files
launch.json
cSpell.json

# output files
**/data/
**/html/
**/shelve/*.bak
**/shelve/*.dat
**/shelve/*.dat
*.cache
*.dir
*.cache
**/pynetwork.cache

#secrets
#**/secrets/client.secret.json
#**/secrets/mail.secret.json
