<!DOCTYPE html>

<meta charset="utf-8"/>
<html lang="en">
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
    </head>
    <style>
        #container {
            width: 1000px;
            margin: 0 auto
        }
    </style>
<body>
  
    <div id="container"></div>

    <script>
        var data = ${json_arr};
        timeStamps = extractLabels(data);
        
        var chart = Highcharts.chart({
            chart: {
                renderTo: 'container',
                events: {
                    load: function(event) {
                        window.status = 'ready_to_print';
                    }
                }        
            },
            exporting: { enabled: false },
            title: { text: 'Network report' },
            subtitle: { text: 'pynetwork' },
            yAxis: { title: { text: 'Mbit/s' } },
            xAxis: { 
                title: { text: 'Time'},
                type: 'datetime',
                labels: {
                    formatter: function() {
                        return Highcharts.dateFormat('%H %m %S', this.value);
                    }
                }
             },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    animation: false,
                    pointStart: timeStamps[0],
                    pointInterval: (timeStamps[1] - timeStamps[0])
                }
            },
            series: [
                { name: 'upload', data: filter(data, "upload") }, 
                { name: 'download', data: filter(data, "download") }, 
                { name: 'ping', data: filter(data, "ping") }
            ]
    });

    function filter(data, propName){
        return data.map(function (x) { return parseFloat(x[propName]);});
    }

    function extractLabels(data){
        return data.map(function(x){
                            return new Date((new Date(0))
                            .setUTCSeconds(x.utcEpoch))
                            .getTime()
                        });
    }

    </script>
</body>	
</html>